name: Test

on:
  workflow_call:
    inputs:
      gleam_version:
        type: string
        required: true
        default: "1.13.0"
      erlang_version:
        type: string
        default: "26"
      test_erlang:
        type: boolean
        default: true
      test_node:
        type: boolean
        default: true

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: inoas/gleam_actions/.github/actions/install_gleam@main-on-upstream
        with:
          gleam_version: ${{inputs.gleam_version}}
          erlang_version: ${{inputs.erlang_version}}
      - uses: inoas/gleam_actions/.github/actions/format@main-on-upstream

  deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: inoas/gleam_actions/.github/actions/install_gleam@main-on-upstream
        with:
          gleam_version: ${{ inputs.gleam_version }}
          erlang_version: ${{ inputs.erlang_version }}
      - uses: inoas/gleam_actions/.github/actions/deps_cache@main-on-upstream
        with:
          gleam_version: ${{ inputs.gleam_version }}

  test_erlang:
    if: inputs.test_erlang
    runs-on: ubuntu-latest
    services:
      mariadb:
        image: mariadb:latest
        ports:
          - 3307:3306
        env:
          MARIADB_DATABASE: gleam_cake_test
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: true
          MYSQL_TCP_PORT: 3306
          MARIADB_TCP_PORT: 3306
        options: --health-cmd="healthcheck.sh --connect --innodb_initialized" --health-interval=10s --health-timeout=5s --health-retries=8
      mysql:
        image: mysql:latest
        ports:
          - 3308:3306
        env:
          MYSQL_DATABASE: "gleam_cake_test"
          MYSQL_ALLOW_EMPTY_PASSWORD: true
          MYSQL_TCP_PORT: 3306
    needs: deps
    strategy:
      fail-fast: true
      matrix:
        erlang:
          - ${{inputs.erlang_version}}
    steps:
      - uses: actions/checkout@v4
      - uses: inoas/gleam_actions/.github/actions/install_gleam@main-on-upstream
        with:
          gleam_version: ${{ inputs.gleam_version }}
          erlang_version: ${{ matrix.erlang }}
      - uses: inoas/gleam_actions/.github/actions/test@main-on-upstream
        with:
          target: "erlang"
